*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(128, 128, 128, 0.445);
    font-family: sans-serif;
}

#main {
    width: 100vw;
    height: 270vh;
    justify-content: center;
    text-align: center;
}
#title{
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 20px;
}
#img-div{
 text-align: center;
 justify-content: center;
 width:100vw;
 height:140vh ;
 background-color: white;
}

#image{
  padding: 50px;
  width: 80vw;
  height: 80vh;
}
#subtitle{
  margin-top: 20px;
}

#tribute-info{
  padding: 20px 100px 20px 100px;
  width: 80vw;
  line-height:25px;
}

#tribute-link{
  text-decoration: none;
  margin-top: 10px;
}

.lista{
  width: 100vw;
  height: 80vh;
  text-align: center;
  justify-content: center;
  line-height:25px;
}
.lista h1{
  margin-top: 20px;
}
.lista ul li{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.contenedor-img{
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenedor-img img{
  margin-top: 30px;
  padding:20px;
  width: 20vw;
  height: 30vh;
}
footer{
  width: 100vw;
  height: 20vh;
  background-color: white;
}
footer p{
  width: 80vw;
  margin-top: 20px;
  padding: 20px 150px;
  line-height:25px;
}

@media (max-width: 600px){

#img-div{
 height:160vh ;
}

#image{
  padding: 50px;
  width: 80vw;
  height: 70vh;
}

#tribute-info{
  padding: 20px 100px 20px 60px;
}

.lista{
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.contenedor-img{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.contenedor-img img{
  padding:30px;
  width: 40vw;
  height: 30vh;
}
footer{
  height: 40vh;
}
footer p{
  padding: 20px 50px;
  line-height:25px;
}

}